.elements {
    padding: 70px 0 80px;
    width: 100%;
    background-color: #202020;
  }
  
  @media screen and (max-width: 610px) {
    .elements {
      padding-top: 36px;
    }
  }

  .elements__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 50px 28px;
  }
  
  @media screen and (max-width: 910px) {
    .elements__list {
      padding: 0 15px 0 15px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 768px) {
    .elements__list {
      padding: 0 19px 0 19px;
    }
  }
  
  @media screen and (max-width: 610px) {
    .elements__list {
      grid-template-columns: 1fr;
      gap: 18px;
    }
  }

 .elements__button-more {
    display: block;
    background-color: #2F2F2F;
    border-radius: 6px;
    height: 36px;
    width: 320px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
 }
  
  