.promo {
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-height: 664px;
    background-color: #073042;
    position: absolute;
    top: 0;
    z-index: -1;
}

.promo__title {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 730px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}