.auth {
    width: 100%;
    margin: 0 auto;
}

.auth__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    margin-bottom: 40px;
}

.auth__button {
    background-color: #3456F3;
    border-radius: 3px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 69px;
}
