.header {
    margin: 0 auto;
    padding: 0 70px;
    display: flex;
    min-height: 74px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #073042;
}

.header__type-black {
  background-color: #202020;
}

.header__auth-register {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

.header__auth-login {
  width: 76px;
  height: 32px;
  background-color: #2BE080;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  cursor: pointer;
}

.header__auth {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__films {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

.header__profile_btn {
  width: 100px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border: 2px solid;
  border-color: rgba(170, 170, 170, 0.2);
  border-radius: 50px;
}

.header__user {
  display: flex;
  justify-content: space-between;
}
