.auth__form_register {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.auth__input-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin: 0;
}

.auth__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    bottom: -20px;
}

.auth__input {
    background-color: #2F2F2F;
    border-radius: 8px;
    height: 46px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    color: #fff;
}

.auth__paragraph {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 0;
    margin-top: 16px;
}

.auth__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    text-decoration: none;
}

.auth__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1024px) {
    .auth__form_register {
        max-width: 396px;
    }
}

@media screen and (max-width: 768px) {
    .auth__paragraph {
        font-size: 12px;
        line-height: 15px;
    }

    .auth__link {
        font-size: 12px;
        line-height: 15px;
    }
}